*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(176, 214, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
 
}

.container{
    background-color: rgb(247, 133, 209);
    border-radius: 5px;
    box-shadow: 0  2px 10px black;
    width: 400px; 
    padding: 20px;
}

form> input { 
    width: 100%;
    padding: 15px;
}

#sd{
    border-radius: 5px;
    background-color: skyblue;
}